{% extends 'base.html' %}
{% load static %}

{% block titulo %}
HomePage Hashflix
{% endblock %}

{% block content %}
<header class="">

</header>

<section class="flex flex-col md:flex-row items-center border-gray-900 border-b-8" style="min-height: 70vh;">
    <div class="md:w-1/2 flex flex-col justify-center text-center md:text-left p-5 md:p-10">
        <h2 class="md:text-5xl text-4xl font-semibold mb-4">
            Enjoy on your TV.
        </h2>
        <h5 class="md:text-xl text-lg">
            Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray players and more.
        </h5>
    </div>
    <div class="md:w-1/2 flex justify-center items-center">
        <img src="{% static 'images/tv.png' %}" class="w-8/12" alt="">
    </div>
</section>

<section class="flex flex-col md:flex-row items-center border-gray-900 border-b-8" style="min-height: 70vh;">
    <div class="md:w-1/2 flex justify-center items-center">
        <img src="{% static 'images/mobile-0819.jpg' %}" class="w-8/12" alt="">
    </div>
    <div class="md:w-1/2 flex flex-col justify-center text-center md:text-left p-5 md:p-10">
        <h2 class="md:text-5xl text-4xl font-semibold mb-4">
            Download shows to watch offline.
        </h2>
        <h5 class="md:text-xl text-lg">
            Save your favorites easily and always have something to watch.
        </h5>
    </div>
</section>

<section class="flex flex-col md:flex-row items-center border-gray-900 border-b-8" style="min-height: 70vh;">
    <div class="md:w-1/2 flex flex-col justify-center text-center md:text-left p-5 md:p-10">
        <h2 class="md:text-5xl text-4xl font-semibold mb-4">
            Create profile for kids.
        </h2>
        <h5 class="md:text-xl text-lg">
            Send kids on adventures with their favorite characters in a space made just for them - free with your membership.
        </h5>
    </div>
    <div class="md:w-1/2 flex justify-center items-center">
        <img src="{% static 'images/netflix_kid.png' %}" class="w-8/12" alt="">
    </div>
</section>

<footer class="px-5 py-10">
    <ul class="flex justify-between items-center">
        <li>© 2024</li>
        <li> Made with Python (Django)</li>
        <li> Hashtag </li>
    </ul>
</footer>


{% endblock %}