{% extends 'base.html' %}

{% block titulo %}
HomeFilmes Hashflix
{% endblock %}

{% block content %}
<div class="py-10">
    <h1>Essa é a nossa HomeFilmes</h1>

    {% for filme in object_list %}
        <hr>
        <a href="{% url 'app_filme:detalhesfilme' filme.pk %}" ><p>{{ filme }}</p></a>
        <p>{{ filme.descricao }}</p>
        <img src="{{ filme.thumbnail.url }}">
    {% endfor %}
</div>

<div class="py-10">
    <h2>Filmes Recentes</h2>
    {{ lista_filmes_recentes }}
</div>

<div class="py-10">
    <h2>Em Alta</h2>
    {{ lista_filmes_emAlta }}
</div>

{% endblock %}